<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% load render_table from django_tables2 %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <title>SWD</title>
    <link rel="stylesheet" type="text/css" href="{% static 'swdcore/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="row p-x-md">
    <div class="col-md-6">
        <div class="row-md-3 m-r-lg">
            <h2>Settings</h2>
            <form method="post" action="index" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% if field|widget_type == "clearablefileinput" %}
                            {{ field }}
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="row-md-6 m-r-lg">
            <h2>Data</h2>
            {% render_table table %}
        </div>
    </div>
    <div class="col-md-6">
        {{graph_basic|safe}}
        <h2>Discretization graphs</h2>
        <form method="get" action="discretize">
                <div class="row-md-6 m-t-lg">
                    Column:
                    <select name="columns">
                        {% for col in data_set_var %}
                        <option value="{{ col }}">{{ col }}</option>
                        {% endfor %}
                    </select>
                    Cups number:<input type="number" name="cups_num" />

                </div>
                <div class="row-md-6 m-t-lg">
                    <input type="submit" value="Generate discretization graph" />
                </div>
        </form>
        {% if data_set_var|length != 0 %}
            {% for key, value in discretized_graphs %}
              <div class="h-75">
                <h4>{{ key }}</h4>
                {{ value | safe }}
              </div>
           {% endfor %}
        {% else %}
            There are no records in the file
        {% endif %}
        <div class="h-75">
            <h2>Normalization graphs</h2>
            <form method="get" action="normalize">
                 <div class="row-md-6 m-t-lg">
                    Type:
                    <select name="type">
                        <option value="std_dev">Standard Deviation</option>
                        <option value="min_max">Min Max</option>
                    </select>
                    Min: <input type="number" name="min" />
                    Max: <input type="number" name="max" />
                 </div>
                <div class="row-md-6 m-t-lg">
                    <input type="submit" value="Generate normalization graph" />
                </div>
            </form>
        </div>
        <div class="h-75">{{graph_after_std_dev|safe}}</div>
        <div class="h-75">{{graph_after_min_max|safe}}</div>
        <form method="get" action="knn">
            <h2>KNN Algorithm</h2>
            Value for k (neighbours amount): <input type="text" name="k" />
            Metric:
            <select name="metric">
                <option value="euclidean">Euclidean</option>
                <option value="manhattan">Manhattan</option>
                <option value="chebyshev">Chebyshev</option>
                <option value="minkowski">Minkowski</option>
                <option value="mahalanobis">Mahalanobis</option>
            </select>
            <input type="submit" value="Submit" />
        </form>
        <form method="get" action="kmean">
            <h2>K-Means Algorithm</h2>
            Value for k (clusters amount): <input type="text" name="k" />
            Metric:
            <select name="metric">
                <option value="euclidean">Euclidean</option>
                <option value="manhattan">Manhattan</option>
                <option value="chebyshev">Chebyshev</option>
                <option value="minkowski">Minkowski</option>
                <option value="mahalanobis">Mahalanobis</option>
            </select>
            <select name="similarity">
                <option value="jac">Miara Jaccarda</option>
                <option value="smc">Simple Matching Coefficient</option>
            </select>
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>
</body>
</html>