<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% load render_table from django_tables2 %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <title>SWD</title>
    <link rel="stylesheet" type="text/css" href="{% static 'swdcore/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="col-md-6">
    {% render_table table %}
</div>
<div class="col-md-6">
    <h2><strong>Accuracy for metric {{ metric }}: </strong></h2>
    {{ graph_knn | safe }}
</div>
</body>
</html>